<label>{{ _("Host") }}</label>
<input type="text"
       class="connection_parameter"
       data-connection-parameter="host">
<label>{{ _("Serial") }}</label>
<input type="text"
       class="connection_parameter"
       data-connection-parameter="serial">
<label>{{ _("Access Code") }}</label>
<input type="text"
       class="connection_parameter"
       data-connection-parameter="access_code">
